In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [10]:
missed_df = pd.read_csv('User Id adding Sheet.xlsx - Sheet1.csv')
missed_df['user_id']=missed_df['user_id'].fillna(method='ffill')
missed_df = missed_df[(pd.to_datetime(missed_df['date_time'])>datetime.strptime('2021-04-26', '%Y-%m-%d')) &
          (pd.to_datetime(missed_df['date_time'])<datetime.strptime('2021-06-14', '%Y-%m-%d'))]

,user_id,missedcall_id,phoneno,date_time,registered,missedcallno,gest_age,current_datetime,sms_sent_content,arn_number,sms_content_id,number_category_id,number_description
0,2405180.0,8024338,6291387503,11/3/20 10:58,0.0,917303658532,0,11/3/20 10:59,NaN,NaN,NaN,2,CallBack
1,NaN,8024487,6291387503,11/3/20 11:01,0.0,917303658532,0,11/3/20 11:59,NaN,NaN,NaN,2,CallBack
2,2393759.0,6198834,6300490831,2/12/19 16:49,0.0,4071012032,0,NaN,NaN,NaN,NaN,2,CallBack
3,NaN,6198835,6300490831,2/12/19 16:50,0.0,4071012032,0,NaN,NaN,NaN,NaN,2,CallBack
4,2408631.0,8138708,6307710567,3/11/21 11:37,0.0,917303658532,0,3/11/21 11:59,NaN,NaN,NaN,2,CallBack
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5312,2391520.0,8184738,9987889499,4/14/21 11:47,1.0,917303658532,0,4/14/21 11:59,NaN,NaN,0.0,2,CallBack
5313,NaN,8184741,9987889499,4/14/21 11:48,1.0,917303658532,0,4/14/21 11:59,NaN,NaN,0.0,2,CallBack
5314,NaN,8208700,9987889499,5/11/21 21:04,1.0,917028065037,0,5/11/21 21:59,NaN,NaN,0.0,4,Opt_out
5315,2389396.0,7018188,9987975812,12/10/19 8:32,0.0,4071012032,0,NaN,NaN,NaN,NaN,2,CallBack
5316,NaN,7018189,9987975812,12/10/19 8:33,0.0,4071012032,0,NaN,NaN,NaN,NaN,2,CallBack

In [20]:
df = pd.read_csv('outputs/analysis_lists/all_analysis_week_12.csv')

out = pd.merge(df, missed_df, on='user_id')

In [29]:
out[['user_id', 'arm']].drop_duplicates().groupby('arm')['user_id'].count()

arm
control        213
rmab           188
round_robin    225
Name: user_id, dtype: int64

In [ ]:
out[['user_id', 'arm']].groupby('arm')['user_id'].count()